language: python
sudo: false
python:
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"
install:
  - "pip install pylint"
  - "pip install -r requirements.txt"
script: ./run_tests.sh
matrix:
  fast_finish: true
